:root {
    --black: #000;
    --blue: #4682B4; /* #396ad3or use 53acf3*/
    --white:#fff;
    --grey:#EEF1F9;  /*or use d2d9e4 or e8eef8*/
  }
  

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*HEADER STYLES*/
header{
    max-height: 70px;
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    min-width: 100vh;
    margin-bottom: 5px;
    box-shadow: 3.5px -9px 24px 5px #e8e4e4;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--blue);
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    margin: 5px;

}
nav{
    color: var(--black);
    display: flex;
    align-items: center;
    max-height: 45px;
    margin-right: 10px;

}
/*some hover styles -https://css-tricks.com/css-link-hover-effects/*/
nav a{
    text-decoration: none;
    color: var(--black);
    margin: 10px;
    font-size: 14px;
}
nav a:hover{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}
/* HERO SECTION
.hero-section{
    background-color:var(--white);
    min-height: 350px; /*change depend on picture heights
}
.hero-title{
    font-size: 24px;
}
.hero-text{
    border: 1px solid red;
    width: 220px;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 30px;
}
*/

.portal-title{
    color: var(--blue);
    background-color: (--white);
    font-size: 30px;
    padding: 10px;
}
.title-text{
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}
  
  .slider{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin-left: 15%;
    margin-bottom:  20px;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid var(--white);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: var(--white);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid var(--white);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--white);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--white);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--white);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background:var(--white);
  }
        

/*ABOUT US*/
.about-us{
   background-color: var(--blue);
   display: grid;
   grid-template-columns: 1fr 1fr;
   min-height: 400px;
   color: var(--white);
   text-align: center;
}
.about-text{
    padding: 50px;
}
.about-text h3{
    font-size: 30px;
    margin: 10px;
}
.about-text p{
    font-weight: 370;
}
.about-us div{
    max-height: 300px;
}
.about-image{
padding: 3px;
}
.about-image img{
    width:600px;
    height: 700px;

}

/*RESOURCE SECTION*/
.resource-container{
    background-color:var(--grey);
    padding: 20px;
}
.resource-container h4{
    color: var(--blue);
    font-size: 22px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    font-weight: 350;
   
}
.resources{
    display: flex;
    padding: 10px;
    min-height: 300px;
}
.resources div{
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    background-color:var(--white);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
}
.resources div h5{
    text-align: center;
    margin-bottom: 2px;
}
.resources div p{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.resources button{
    background-color: var(--blue);
    border: none;
    color:var(--white);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-left: 35%;

}
/*PARTNERS SECTION*/
.partners-section{
    padding: 20px;
}
.partners-section h5{
    color:var(--blue);
    text-align: center;
    font-size: 20px;
    margin: 5px;
    font-weight: 350;
}
.partners-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px;
}
.partners-logos img{
 width:140px;
 height: 140px;
 background-color: transparent;
 margin: 24px;
}



/*FOOTER STYLE*/
.flex-footer{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    padding: 20px;
}
.flex-footer div{
    border-left: 1px solid white;

    padding: 5px;
}
footer{
    background-color:var(--blue);
    padding: 10px;
}
footer a{
    text-decoration: none;
    font-size: 12px;
    color:var(--white);
    font-weight: 250;
}
.nav-links,.resource-links{
    display: flex;
    flex-direction: column;
    padding: 4px;
    line-height: 24px;
}

.socials{
    min-width: 390px;
    display: grid;
    grid-template-columns: 0.80fr 0.80fr 0.80fr 0.80fr 0.80fr 0.80fr;
    padding: 20px;
    color:var(--white);
    font-weight: 8px;
    font-weight: 250;
}
svg{
    height:20px;
    width:20px;
    fill: #fff;
    
}
footer h6{
    color:var(--white);
    font-weight: 300;
    text-align: center;
    margin: 20px;
}
.main-container{
    overflow: hidden;
    width:100vw;
}